[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "==1.2"
mkdocs-macros-plugin = "==0.5.12"
mkdocs-material = "==7.1.7"
mkdocs-material-extensions = "==1.0.1"

[dev-packages]

[requires]
python_version = "3.9"
